

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    margin-bottom: 2%;
    color: #444;
    cursor: pointer;
    width: 100%;
    height: 20px;
    text-align: left;
    vertical-align: middle;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    //background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    margin-bottom: 2%;
    background-color: white;
    display: block;
    overflow: hidden;
}

body {
  overflow-x: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.tablerow{
  height: 30px;
}

/* ======== for table ======== */
#pinfo{
  width: 95%;
  margin-left: 2.5%;
}

/* ======== for code ======== */
#code{
  height: calc(calc(100vh - 100px) * 0.27);
}

.hasbug{
  background-color: rgba(255, 0, 0, 0.4);
}

.codediv{
  background: #ffffff;
  width: 95%;
  margin-left: 2.5%;
  overflow:auto;
  height: 100%;
  border:solid gray;
  border-width:.1em .1em .1em .8em;
  padding:.2em .6em;
}

.codetable{
  width: 100%;
}

.instinfo{
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  line-height: calc(calc(100vh - 100px) * 0.24);
  opacity: 0.5;
}

#exTab1 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  padding-top: 0px;
  padding-bottom: 0px;
}
#exTab1{
  width: 100%;
  height: calc(calc(100vh - 100px) * 0.27);
  max-height: calc(calc(100vh - 100px) * 0.5);
}
#exTab1 .tab-content {
  background-color: rgba(66,139,202,0.1);
  height: 100%;
}

#other{
  overflow-y: auto;
  height: 100%;
}

#exTab2 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  padding-top: 0px;
  padding-bottom: 0px;
}
#exTab2{
  width: 100%;
  height: calc(calc(100vh - 100px) * 0.27);
  max-height: calc(calc(100vh - 100px) * 0.5);
}
#exTab2 .tab-content {
  background-color: rgba(66,139,202,0.1);
  height: 100%;
}

#gittable{
  overflow-y: auto;
  height: 100%;
}
#gittablecontent{
  overflow: auto;
}

.nav-pills{
  height: 20px;
}
