/* for force directed */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* for code */
#code{
  height: calc(calc(100vh - 100px) * 0.3);
  overflow-y: scroll;
}
/* for bar chart */

/* for pie chart */
